<!--Main-->

  <section id="main">
      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://i.imgur.com/WzIN5uk.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/G1wWWUS.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://i.imgur.com/hondzVP.jpg" alt="Third slide">
          </div>
          <div class="overlay">
            <div class="container">
              <div class="row aling-items-center">
                <div class="col-md-4 offset- text-center">
                  <h1>THE SKY IS THE LIMIT</h1>
                </div>
              </div>
              <div class="row aling-items-center">
                  <div class="col-md-4 offset- text-md-left text-center">
                    <P class="d-none d-md-block">
                      Convierte en una profesional con
                      la mejor presencia Online, genera mas ganacias 
                      con nuestros servicios de publicidad y consigue que mas gente
                      te conosca.
                    </P>
                    <a href="#place-time " class="btn btn-outline-light">Quiero conocer más</a>
                    <button type="button" class="btn btn-Platzi" data-toggle="modal" data-target="#modalCompra">Conseguirlo ya</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </section>

<!--/Main-->

<!--Speakers-->
    <section id="speakers" class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col text-center text-upercase">
            <small>Conoce al TEAM de</small>
            <h2>Sky is the Limit</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/psG654X.jpg" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Keller Encalada CEO</h5>
                <p class="card-text">Hola, gracias por visitarnos. Yo soy el encargado de
                  edisión, audio y video en The Sky is the Limit, estoy siempre dispuesto a darte
                  la mejor calidad con lo que respecta al mundo audivisual 
                </p>
                <a class="btn btn-primary" href="https://www.facebook.com/KelerAndres12">Conoce más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img src="https://i.imgur.com/h99mToF.jpg" class="card-img-top d-none d-md-block" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ricardo Tierra</h5>
                <p class="card-text">Mucho gusto, Bienvenido. Yo soy el encargado de
                  del desarrollo y diseño web y edisión en Sky is the Limit, espero poderte ayudar
                  a crear la mejor opción para tu presencia online.
                </p>
                <a class="btn btn-primary" href="https://www.facebook.com/ricardo.tierra.9">Conoce más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--/Speakers-->   

<!--Servicios-->
    <section id="place-time" class="mt-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block">
            <img src="https://i.imgur.com/VmnEhUe.jpg" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4">
            <h3 class="text-center">Sky is the Limit -Fotografia y produccion audiovisual</h3>
            <h3 class="text-center">Administracion de redes sociales</h3>
            <h6 class="d-none d-md-block">La edición digital de imágenes se ocupa de la edición apoyada en 
               de imágenes digitales , comúnmente un gráfico rasterizado</h6>
            <h6 class="d-none d-md-block">La edición digital de imágenes se ocupa de la edición apoyada en 
               computadoras de imágenes digitales , comúnmente un gráfico rasterizado</h6>
            <h6 class="d-none d-md-block">Actualmente, tener presencia activa en redes sociales es vital para las empresas. 
              Los usuarios y potenciales clientes de las marcas se encuentran activamente en las redes sociales y es 
              importante contar con un plan de comunicación y marketing para acercarte a tus clientes, personal, 
              y el entorno social en el que se desarrollan las empresas.</h6>
            <a class="btn btn-outline-light offset-5" href="https://www.facebook.com/theskyisthelimitpro/">Conoce más</a>
          </div>
          <div class="col col-lg-6 col-12 pl-0 pr-0 d-none d-md-block mt-4">
            <img src="https://i.imgur.com/cvBi1N5.jpg" alt="sky"/>
          </div>
          <div class="col col-lg-6 col-12 pt-2 pb-4 pt-4 ">
            <h3 class="text-center">Alumicar Hydropaint - hidropintura<h3>
            <h6 class="d-none d-md-block">La Hidropintura es una técnica nueva y revolucionaria en nuestro país, la cual consiste en transferir 
              diseños impresos a objetos en tres dimensiones por medio de agua. La hidropintura se puede realizar en 
              todo tipo de objetos y de cualquier material tales como: plástico, fibra de vidrio, madera, cerámica, metal, etc.</h6>
            <a class="btn btn-outline-light offset-5" href="https://www.facebook.com/alumicarhydropaint/">Conoce más</a>
          </div>
        </div>
      </div>
    </section>

<!--/Servicios-->


<!--/Footer-->

